<div class="col text-center">
	<h2>Этот сайт посвещен игре</h2>
	<h1>Triple Triade</h1>
	<%= link_to 'Играть', '#', class: "btn btn-outline-light" %>
	<%= link_to 'Узнать правила', rules_path, class: "btn btn-success" %>
</div>


