<div class="col">
	<div class="plate">
		<h1>Правила игры</h1>
		<p>Для того, что бы сыграть в карточную игру Triple Triade, Вам в первую очередь нужно <%= link_to 'зарегистрироваться', '#' %> на нашем сайте.</p>
		<p>После регистрации вы получите 1000 монет на ваш виртуальный счёт. Эти монеты понадобятся вам, чтобы покупать карты для игры.</p>
		<p>Теперь после регистрации вы попадаете в магазин с картами. На вашем счету 1000 монет и на эти деньги вам надо набрать себе коллоду карт для игры.
		Стоимость карт различается в зависимости от уровня карты.
		Для игры вам потребуется только 5 карт. Поэтому хорошо продумайте выбор карт в свою коллоду.</p>
		<p>Теперь, когда коллода из пяти карт сформированна, пора начинать ИГРУ!</p>
		<p>Правила игры:</p>
		<p>
		У каждой карты есть 4 цифры по бокам (слева, сверху, справа и снизу)
		Вы должны поочереди с соперником ставить ваши карты на игровой стол.
		Ставить карту нужно таким образом, чтобы по возможности побить карту соперника и не дать следующим ходом соперника побить вашу карту. Карты соперника вам показываются.
		Например: если на игровом столе стоит карта соперника, у которой слева число 6, то вы можете побить эту карту, если поставите свою карту справа от карты соперника с числом находящимся справа на вашей карте большим чем 6. (т.е. 7,8,9,10). Буква А равна цифре 10.</p>
		<p>Пожалуй хватит теории. Лучше всё опробовать на практике и доразобраться уже там, ведь игра действительно простая!</p>
		<h3>Video tutorial:</h3>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/264wi-_Yxmw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<p><%= link_to 'Регистрация', '#', class: "btn btn-success" %> <%= link_to 'Вход', '#', class: "btn btn-primary" %></p>
	</div>
</div>