// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
	background-image: url('bg-bb.jpg');
	color: white;
	height: 100%;
	overflow: auto;
	.row {
		min-height: 100%;
		max-width: 100%;
		align-items: center;
	}
	.btn {
		margin-top: 20px;
	}
}

.plate {
	text-align: center;
	padding: 20px;
}

.home-ico {
	position: absolute;
	top: 10px;
	left: 10px;
}